/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#saas-variables
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');

// Our colors
$spring-wood: #F9F8F3ff;
$armadillo: #3E3A2Eff;
$charcoal: #404040;
$lagoon: #027F85;
$electric: #86F7FD;
$redish: #850802;
$cranberry: #CA225E;

// fonts
$font-family-sans-serif: 'Jost', serif !default;

// colors
$body-bg: $spring-wood !default;
$body-color: $charcoal !default;
$link-color: $lagoon !default;
$selection-bg: $armadillo !default;

// headings
$presentation-heading-font: 'Zilla Slab', serif !default;
$presentation-heading-color: $charcoal !default;

/*-- scss:rules --*/

.reveal .inverse {
  background-color: $armadillo;
  color: #fff;
  text-shadow: none;
}

.reveal .inverse h1, .reveal .inverse h2, .reveal .inverse h3, .reveal .inverse h4 {
	color: $spring-wood;
}

.reveal .inverse a code {
  color: $cranberry;
}
