/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#saas-variables
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,500&display=swap');

// Our colors
$cranberry: #CA225E;
$charcoal: #1a162d;

// fonts
$font-family-sans-serif: 'Jost', sans-serif !default;
$font-family-serif: 'Zilla Slab', serif !default;

// colors
$body-bg: white !default;
$body-color: $charcoal !default;
$link-color: $cranberry !default;

// headings
$presentation-heading-font: 'DM Sans', sans-serif !default;
$presentation-heading-color: $charcoal !default;

/*-- scss:rules --*/

// Annotation link
.annotation-link {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 75px;
}

// When `#| output-location: column` is set, it is no longer 100% height
.reveal .column-output-location .column:first-of-type div.sourceCode {
  height: unset !important;
}
